<form id="new-task-form" class="well form-inline" action="<%= tasks_path %>" method="POST">
  <label>
    New task name
    <input type="text" name="task[name]" class="span3" placeholder="Something to do…">
  </label>
  <button type="submit" class="btn submit">Add</button>
</form>

<div id="tasks-list">

</div>
